<section class='header'>
  <section class="makers-logo">
    <img src="images/MA.svg">
  </section>
  <section class='menu'>
    <a href=#>ABOUT</a>
    <a href=#>RULES</a>
    <a href='/forum'>FORUM</a>
    <a href='/'>HOME</a>
  </section>
</section>

<section class='container'>
  <section class='box'>
    <section class="columns">

      <section class='welcome'>
        <% if current_player %>
          Welcome <%= current_player.username %>
        <% end %>
      </section>

      <section class='left-col'>
        <ul>
          <% @app.available_players.each do |player| %>
            <li><%= player %> </li>
          <% end %>
        </ul>
      </section>

      <section class='center-col'>
      
        <section class='main-errors'>
          <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
          <% end %>
        </section>

        <section class='available-button'>
          <form action='/playing' method='post'>
            <input type='submit' name='yes' value='AVAILABLE'>
          </form>
        </section>

        <section class='generate-button'>
          <form action='/generate' method='post'>
              <input type='submit' name='generate' value='GENERATE'>
          </form>
        </section>

        <section class='reset-button'>
          <form action='/reset' method='post'>
            <input type='submit' name='RESET' value='RESET'>
          </form>
        </section>

      </section>

      <section class='right-col'>

        <section class='team1'>
          <ul>
            <% @team1.each do |player| %>
              <li><%= player %></li>
            <% end %>
          </ul>
        </section>

        <section class='team2'>
          <ul>
            <% @team2.each do |player| %>
              <li><%= player %></li>
            <% end %>
          </ul>
        </section>

      </section>
    </section>
  </section>
</section>

<section class="footer">
</section>