<section class='header'>
  <div class="makers-logo">
    <img src="images/MA.svg">
  </div>
  <div class='menu'>
    <a href=#>ABOUT</a>
    <a href=#>RULES</a>
    <a href=#>NOTIFICATIONS</a>
  </div>
</section>

<!--
<section class='play-or-not'>
  <h2>Hi <%= current_player.username %>, Make yourself available to play this week</h2>
  <div class='available-button'
    <form class='available' action='/playing' method='post'>
      <input type='submit' name='yes' value='AVAILABLE'>
    </form>
  </div>
</section> -->


<section class='container'>
  <div class='box'>
    <section class="columns">
      <div class='left-col'>
        <ul>
        <% @app.available_players.each do |player| %>
          <li><%= player %> </li>
        <% end %>
        </ul>
      </div>

      <div class='center-col'>
        <div class='available-button'>
          <form action='/playing' method='post'>
            <input type='submit' name='yes' value='AVAILABLE'>
          </form>
        </div>

        <div class='generate-button'>
          <form action='/generate' method='post'>
              <input type='submit' name='generate' value='GENERATE'>
          </form>
        </div>

        <div class='reset-button'>
          <form action='/reset' method='post'>
            <input type='submit' name='reset' value='RESET'>
          </form>
        </div>
      </div>

      <div class='right-col'>
        <div class='team1'></div>
        <div class='team2'></div>
      </div>
    </section>
  </div>
</section>

<section class="footer">
</section>




<!-- <section class='play_or_not'>
  <form action='/playing' method='post'>
    <div class='available-button'>
      <input type='submit' name='yes' value='AVAILABLE'>
    </div>
  </form>
</section>

<section class="flash-error">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</section>

<section class="available-players">
  <ul>
  <% @app.available_players.each do |player| %>
    <li><%= player %> </li>
  <% end %>
  </ul>
</section>

<form action='/reset' method='post'>
  <div class='reset-button'>
    <input type='submit' name='reset' value='RESET'>
  </div>
</form>

<div class='generate-button'>
  <form action='/generate' method='post'>
      <input type='submit' name='generate' value='GENERATE'>
  </form>
</div>

<section class="team1-box">
  <ul>
    <% @team1.each do |player| %>
      <li><%= player %></li>
    <% end %>
  </ul>
</section>

<section class="team2-box">
  <ul>
    <% @team2.each do |player| %>
      <li><%= player %></li>
    <% end %>
  </ul>
</section> -->
